<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="UTF-8">

    <title>Report Studio</title>

    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>

    <div id="app">

        <h1>Report Studio</h1>

        <section id="system-status-panel">

            <h2>System Status</h2>

            <div id="backend-info">
                Oczekiwanie na dane z backendu...
            </div>

        </section>
    
    </div>


    <script src="static/js/app.js"></script>

</body>

</html>